body {
   margin: 0;
}
 
.logo{
    width : 368px;
    height : auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;  
   }
 
header{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 15cm;
   width :100%;
 }


h1{
   text-align: center;
   margin-top: 50px;
   color: #042883;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
   font-weight: bold;
   
}

h2{
   text-align: center;
   color: #ededed;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
   font-weight: bold;
   text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
   
}

 
.navbar {
  position: relative;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.fond-1{
   background-image: url(img/fond-1.svg);
   height: 1194px;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   display: flex;
   flex-direction: column;
   
}

 .fond-3{
   background-image: url(img/fond-3.svg);
   height: 974px;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: top;
}

.cardContainer{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

.fond-4{
   background-image: url(img/fond-4.svg);
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   padding: 150px;

}

.fond-2{
   background-image: url(img/fond-2.svg);
   height: 1329px;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: top;
   padding: 80px;
}

footer{
   text-align: center;
   font-weight: bold;
}
 
a{
    text-decoration: none;
    color: #000000;
}
 
.menu-bar {
    height: fit-content;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0px 13px 45px -18px #111;
    font-family:Arial, Helvetica, sans-serif;
  }
 .menu-bar li {
    list-style: none;
    color: #042883;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
 }
 .menu-bar li::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
    
 }

 .menu-bar li:hover {
    color: #ededed;
    
 }
 
 .menu-bar li:hover::before {
    background: linear-gradient(to bottom, #ededed, #042883);
    box-shadow: 0px 3px 6px 0px #000000;
    transform: scale(1.2);
 }
 
 .blockquote {
   position: relative;
   font-family: 'Montserrat', sans-serif;
   font-weight: 800;
   padding: 39px 0;
   z-index: 1;
   align-self: center;
   text-align: justify;
   /* width: 50%; */
   /* height: 70px; */
   float: right;
 }
  
 .blockquote h1 {
   position: relative;
    font-size: 20px;
    text-align: center;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2em;
    padding-left: 80px;
    padding-right: 80px;
    
 }
 
 .map{
   height: 688px;
   width: 1050px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 6%;
   border: 1em solid #ededed;
   margin-top: 190px;
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

section .cadre .image{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  padding: 3px;
  background: #A5C1D8;
}

section .cadre .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}


.titleContainer{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 50px;
}

.container{
  padding-top: 45px;
  padding-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.cadre{
   position: relative;
   border-radius: 20px;
   background: #ededed;
   margin: 20px 0;
   width: 350px;
   box-shadow: rgba(255, 255, 255, 0.185) 0px 1px 2px, rgba(255, 255, 255, 0.185) 0px 2px 4px, rgba(255, 255, 255, 0.185) 0px 4px 8px, rgba(255, 255, 255, 0.185) 0px 8px 16px, rgba(255, 255, 255, 0.185) 0px 16px 32px, rgba(255, 255, 255, 0.185) 0px 32px 64px;
}

.cadre::before{
   content: "";
   position: absolute;
   height: 30%;
   width: 100%;
   background: #A5C1D8;
   border-radius: 20px 20px 0 0;
}
.cadre .cadre-content{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 30px;
   position: relative;
   z-index: 100;
}

.cadre .media-icons{
   position: absolute;
   top: 10px;
   right: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;

}

.cadre .media-icons i{
   color: #042883;
   opacity: 0.6;
   margin-top: 10px;
   transition: all 0.3s ease;
   cursor: pointer
}

.cadre .media-icons i:hover{
   opacity: 1;

}

.cadre .name-profession{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 10px;
   color: #000000;
   font-family: "Gill Sans", sans-serif;
}

.cadre .name-profession .name{
   font-size: 20px;
   font-weight: 600px;
   FONT-WEIGHT: 600;
}

.cadre .name-profession .profession{
   font-size: 20px;
   font-weight: 500px;
   FONT-WEIGHT: 600;
}

.cadre .description{
   display: flex;
   align-items: center;
   margin-top: 18px;
   font-family: "Gill Sans", sans-serif;
}

.cadre .description i{
   font-size: 18px;
   color: #000000;
   font-family: "Gill Sans", sans-serif , justify;
   margin: 0 2px;
}

.text{
   color: rgb(255, 255, 255);
   font-weight: bold;
   margin-top: -12px;
   text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
   text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
   font-size: x-large;
}


 #rangeValue {
   position: relative;
   display: block;
   text-align: center;
   font-size: 4em;
   color: rgb(255, 255, 255);
   font-weight: 400;
   margin-top: 34px;
 }
 .range {
   width: 400px;
   height: 15px;
   -webkit-appearance: none;
   background: #111;
   outline: none;
   border-radius: 15px;
   overflow: hidden;
   box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
   
 }
 .range::-webkit-slider-thumb {
   -webkit-appearance: none;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background: rgb(255, 255, 255);
   cursor: pointer;
   border: 4px solid rgb(255, 255, 255);
   box-shadow: -407px 0 0 400px rgb(255, 255, 255);
 }

 .containermap {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .colonne {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .footerContainer{
   width:100%;
   padding: 0px 30px 20px;
 }

 .socialInons{
   display: flex;
   justify-content: center;
 }

 .socialInons a{
   text-decoration: none;
   padding: 10px;
   background-color:#ededed;
   margin: 10px;
   border-radius: 50%;
 }

 .socialInons a i{
   font-size: 2em;
   color:#ffffff;
   opacity: 0.9;

 }

 .socialInons a:hover{
   background-color:#A5C1D8;
   transition: 0.2s;
 }

 .socialInons a:hover i{
   color: #030303;
   transition: 0.2s;
 }


 .footerBottom{
   padding: 20px;
   text-align: center;
 }

 .footerBottom p{
   color: #000000;
 }

 .designer{
   opacity: 0.7;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 400;
   margin: 0px 5px;
 }

 footer{
   background-color:#A5C1D8;
 }

 @import url("https://fonts.googleapis.com/css?family=Raleway");

 :root {
   --glow-color: #042883;
 }
 
 button{
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
 }
 
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 
 .glowing-btn {
   position: relative;
   color: var(--glow-color);
   cursor: pointer;
   padding: 0.35em 1em;
   border: 0.15em solid var(--glow-color);
   border-radius: 0.45em;
   background: none;
   perspective: 2em;
   font-family: "Raleway", sans-serif;
   font-size: 2em;
   font-weight: 900;
   letter-spacing: 1em;
 
   -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
     0px 0px 0.5em 0px var(--glow-color);
   -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
     0px 0px 0.5em 0px var(--glow-color);
   box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
     0px 0px 0.5em 0px var(--glow-color);
   animation: border-flicker 2s linear infinite;
 }
 
 .glowing-txt {
   float: left;
   margin-right: -0.8em;
   -webkit-text-shadow: 0 0 0.125em hsla(0, 90%, 44%, 0.3),
     0 0 0.45em var(--glow-color);
   -moz-text-shadow: 0 0 0.125em hsla(0, 25%, 10%, 0.3),
     0 0 0.45em var(--glow-color);
   text-shadow: 0 0 0.125em hsla(0, 52%, 4%, 0.3), 0 0 0.45em var(--glow-color);
   animation: text-flicker 3s linear infinite;
 }
 
 .faulty-letter {
   opacity: 0.5;
   animation: faulty-flicker 2s linear infinite;
 }
 
 .glowing-btn::before {
   content: "";
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   opacity: 0.7;
   filter: blur(1em);
   transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
   background: var(--glow-color);
   pointer-events: none;
 }
 
 .glowing-btn::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0;
   z-index: -1;
   background-color: var(--glow-color);
   box-shadow: 0 0 2em 0.2em var(--glow-color);
   transition: opacity 100ms linear;
 }
 
 .glowing-btn:hover {
   color: rgba(233, 200, 200, 0.8);
   text-shadow: none;
   animation: none;
 }
 
 .glowing-btn:hover .glowing-txt {
   animation: none;
 }
 
 .glowing-btn:hover .faulty-letter {
   animation: none;
   text-shadow: none;
   opacity: 1;
 }
 
 .glowing-btn:hover:before {
   filter: blur(1.5em);
   opacity: 1;
 }
 
 .glowing-btn:hover:after {
   opacity: 1;
 }
 
 @keyframes faulty-flicker {
   0% {
     opacity: 0.1;
   }
   2% {
     opacity: 0.1;
   }
   4% {
     opacity: 0.5;
   }
   19% {
     opacity: 0.5;
   }
   21% {
     opacity: 0.1;
   }
   23% {
     opacity: 1;
   }
   80% {
     opacity: 0.5;
   }
   83% {
     opacity: 0.4;
   }
 
   87% {
     opacity: 1;
   }
 }
 
 @keyframes text-flicker {
   0% {
     opacity: 0.1;
   }
 
   2% {
     opacity: 1;
   }
 
   8% {
     opacity: 0.1;
   }
 
   9% {
     opacity: 1;
   }
 
   12% {
     opacity: 0.1;
   }
   20% {
     opacity: 1;
   }
   25% {
     opacity: 0.3;
   }
   30% {
     opacity: 1;
   }
 
   70% {
     opacity: 0.7;
   }
   72% {
     opacity: 0.2;
   }
 
   77% {
     opacity: 0.9;
   }
   100% {
     opacity: 0.9;
   }
 }
 
 @keyframes border-flicker {
   0% {
     opacity: 0.1;
   }
   2% {
     opacity: 1;
   }
   4% {
     opacity: 0.1;
   }
 
   8% {
     opacity: 1;
   }
   70% {
     opacity: 0.7;
   }
   100% {
     opacity: 1;
   }
 }
 
 @media only screen and (max-width: 600px) {
   .glowing-btn{
     font-size: 1em;
   }
 }
 
 .reservation{
    margin-top: 60px;
 }

 .box{
  margin-top: 20px; 
  top: 50%; left: 50%; 
  border: 33px solid #e2eded; 
  border-color: #A5C1D8 #ffffff #A5C1D8 #ffffff;
  

 }